



h2 { 
	font-family: 'Work Sans Bold', sans-serif;
	color: #179f99;
	text-align:center;
	font-size:26px;
}
h3 { 
	font-family: 'Work Sans', sans-serif;
	font-weight:100;
	color: #666666;
	text-align:center;
	font-size:18px;
}
.name { 
	font-family: 'Work Sans', sans-serif;
	color: black;
}
.text { 
	font-family: 'Work Sans Light', sans-serif;
	color: black;
	line-height:30%;
	font-weight:100;
}
.text-right {
	padding: 0px; 
	float: left; 
	width: 50%;
	text-align:left;
	background-color:#238697;
	}
.green {
		background-color: #179f99;
		width: 100%;
		display:block;
		}
.orange {
		background-color: #ff7e00;
		width: 100%;
		display:block;
		}
.grey {
		background-color: #3c3c3c;
		width: 100%;
		display:block;
		}
.text-white {
	padding: 40px; 
	display:block;
	color:#ffffff;
	display:block;
	font-family: 'Work Sans', sans-serif;
	text-align:left;
	
	}
.am {
	padding: 0px;  
	float: left; 
	width: 50%;
	display: block;
	text-align:right;
		}
.film {
	width:65%; 
	}
.nospace {
   font-size: 0;
   width: ;
   display:block;
}
@media screen and (max-width: 992px) {
	.text-right {
	padding: 0px; 
	float: left; 
	width: 100%;
	}
}
@media screen and (max-width: 600px) {
	.text-right {
	padding: 0px; 
	float: left; 
	width: 100%;
	}
	.am {
	padding: 0%; 
	float: left; 
	width: 100%;
	}
	.film {
	width: 100%; 
	}
}